


<div class="top_section">

  <!-- first section -->
  <div class="booking_info">
    <div class="booking_info1">
      <p class="customer_name">Hello <%= @current_user ? @current_user.firstname : "Customer" %> </p> <!-- TODO fix this-->
      <br>
    </div>

    <% #if params[:day] %>
      <%= form_for @booking do |f| %>
        <%= label_tag "Date"%>
           <%= date_field_tag :day %>
           <div class="check_tables_button">
           <button id="date-changer" type="button">Check Table Availability</button>
           <input id="clubname-hidden" type="hidden" value="<%= @club.name %>" />
         </div>
        <!-- <p>Button To check Tables</p> -->
        <br>

        <label>Table Number: </label>
        <%= select_tag 'table_id', options_for_select(@tables.map{ |t| [t.id, t.name] }) %>
        <br>

        <label>Table Deposit</label>
        <%= f.label :expected_spend, "Table Deposit" %>:
        <%= f.text_field :expected_spend %><br>
        <p>Group Info:</p>

        <%= f.label :num_of_males, "Number of Males"%>:
        <%= f.text_field :num_of_males%><br />

        <%= f.label :num_of_females, "Number of Females" %>:
        <%= f.text_field :num_of_females%><br />
        <br>


        <label>Atmosphere Total</label>
        <input type="text" value="" readonly>
        <br>
        <br>
        <label>Server Request: </label>
        <%= select_tag 'server_id', options_for_select(@servers.map{ |s| s.name }) %>
        <br>

        <%= f.label :expected_spend, "Total"%>:
        <%= f.text_field :expected_spend%><br />

        <%= f.submit "Reserve Table" %>
      <% end %>
    <%#else %>
      <%#= form_tag reservations_path, method: 'get' do %>
        <%#= label_tag "Date"%>
        <%#= date_field_tag :day %>
        <%#= submit_tag "Check Table Availability" %>
      <%# end %>
    <% #end %>
          <form action="your-server-side-code" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_XcZDuXi6mofUZLtwZpiaSH3D"
          data-amount="50000"
          data-name="Velvet Rope"
          data-description="Table charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="payment_section">
        </script>
      </form>
  </div>


  <!-- end first section -->

  <!-- second section -->
  <div class="club_floorplan">

    <div class="main_bar">
      Main Bar
    </div>

    <div class="tdf_middle_side">
      <!-- <div class="tdf_middle_side"> -->

      <div class="tables_and_dancefloor">

        <div class="tdf_left_side">
          <% @tables2.where(id: [1,2,3,4,5,6,7,8]).each do |table| %>
          <div class="tdf_columnA_tables">
            <% if table.id == 1 %>
            <div id="1" class="table_1 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price%>
            </div>
            <% end %>

            <% if table.id == 3 %>
            <div id="3" class="table_3 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price%>
            </div>
            <% end %>

            <% if table.id == 5 %>
            <div id="5" class= "table_5 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price%>
            </div>
            <% end %>

            <% if table.id == 7 %>
            <div id="7" class="table_7 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price%>
            </div>
            <% end %>
          </div>

          <div class="tdf_columnB_tables">

            <% if table.id == 2 %>
            <div id="2" class= "table_2 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price%>
            </div>
            <% end %>

            <% if table.id == 4 %>
            <div id="4" class= "table_4 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price%>
            </div>
            <% end %>

            <% if table.id == 6 %>
            <div id="6" class= "table_6 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price%>
            </div>
            <% end %>

            <% if table.id == 8 %>
            <div id="8" class= "table_8 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price%>
            </div>
            <% end %>
          </div>
          <% end %>

          <!-- this div closes tdf_left_side        -->
          <div class="dance_floor_booking">
            Dance floor
          </div>
          <!-- this div closes dance_floor_booking -->


          <div class="tdf_right_side">
            <% @tables2.where(id: [9,10,11,12,13,14,15,16]).each do |table| %>

            <div class="tdf_columnC_tables">

              <% if table.id == 9 %>
              <div id="9" class="table_9 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price%>
              </div>
              <% end %>

              <% if table.id == 11 %>
              <div id="11" class="table_11 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price%>
              </div>
              <% end %>

              <% if table.id == 13 %>
              <div id="13" class="table_13 box">
                <br />

                <%=table.name%>
                <br />
                <br />
              </div>
              <% end %>

              <% if table.id == 15 %>
              <div id="15" class="table_15 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price%>
              </div>
              <% end %>

            </div>
            <!-- this div closes tdf_columnC_tables -->
            <div class="tdf_columnD_tables">

              <% if table.id == 10 %>
              <div  id="10"class= "table_10 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price%>
              </div>
              <% end %>

              <% if table.id == 12 %>
              <div id="12" class= "table_12 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price%>
              </div>
              <% end %>

              <% if table.id == 14 %>
              <div id="14" class= "table_14 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price%>
              </div>
              <% end %>

              <% if table.id == 16 %>
              <div id="16" class= "table_16 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price%>
              </div>
              <% end %>
            </div>
            <% end %>
            <!-- this div closes tdf_columnD_tables -->

          </div>
          <!-- this div closes tdf_right_side -->
        </div>
        <!-- this div cloes tables and dance_floor_booking -->
      </div>
      <!-- this div closes out tdf_middle_side -->

      <div class= "vip_tables_andDJbooth_booking">
        <% @tables2.where(id: [17,18,19]).each do |table| %>

        <% if table.id == 17 %>
        <div id="17" class="tl_left_vip_booking djbooth">
          <br />
          Left VIP
          <%=table.name%>
          <br />
          <%= "$" + table.min_price%>
        </div>
        <% end %>

        <% if table.id == 18 %>
        <div id="18" class="dj_booth_booking djbooth">
          <br />
          DJ Booth
          <%=table.name%>
          <br />
          <%= "$" + table.min_price%>
        </div>
        <% end %>

        <% if table.id == 19 %>
        <div id="19" class="tl_right_vip_booking djbooth">
          <br />
          Right VIP
          <%=table.name%>
          <br />
          <%= "$" + table.min_price%>
        </div>
        <% end %>
        <% end %>

      </div>




      <!-- this div closes vip_tables_andDJbooth_booking -->

      <!-- </div> -->
    </div>
</div>

    <div class="payment_section">

    </div>

    <!-- this div closes out floorplan -->
    <!-- end second section -->

    <!-- third section -->
    <br>
    <!-- end third section -->

  </div><!--end top section-->

  <div class="bottom_section">
    <p> Above you can see the exact table layout for Rockwell! Enter your desired reservation date on the left, and then click the "Check Table Availability" button to see which table are available. The available tables will turn green! Then select your table, enter your group information and server request to complete your table reservation! </p>
  </div>

  <div class="slider_of_rockwell_photos">
    In this area there is going to be some kind of sliding group of photos of club scenes from rockwell just
    to help decorate this page:
  </div>
