<nav>
  <div class="nav-wrapper black">
    <a href="/" class="brand-logo">  The VelvetRope</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="modal-trigger" href="#signin">Sign in</a></li>
      <li><a class="modal-trigger" href="#signup">Sign up</a></li>
    </ul>
  </div>
</nav>
<div id="signup" class="modal grey darken-4">
  <div class="modal-content">
    <%= render 'users/signup' %>
  </div>
</div>


<div id="signin" class="modal grey darken-4">
  <div class="modal-content">
    <%= render 'users/login' %>
  </div>
</div>

<nav>
  <div class="nav-wrapper black">
    <div class="col s12">
      <a href="/city/miami" class="breadcrumb">Miami</a>
      <a href="/clubs/rockwell/" class="breadcrumb">Rockwell</a>
      <a href="#!" class="breadcrumb">Reservations</a>
    </div>
  </div>
</nav>
<div class="line"></div>
<%= image_tag "background2", :class => "fullscreen-bg" %>
  <br>

  <div id="wrapper">
    <div class="top_section">

      <!-- first section -->

    <div class="booking_info">

      <div class="booking_info1">
        <p class="customer_name">Hello <%= @current_user ? @current_user.firstname : "Customer" %></p>
      </div>
      <br>

      <div class="check_tables_button gray">
        <%= form_for @booking do |f| %>

        <%= label_tag "Date"%>
        <%= date_field_tag :day %>
        <button id="date-changer" type="button">Check Table Availability</button>
        <input id="clubname-hidden" type="hidden" value="<%= @club.name %>" />
      </div>
                <!-- <p>Button To check Tables</p> -->
      <br>
      <div class="test2">

      <label>Table Number:  </label>
        <span id='chingy'>
          <%= select_tag 'table_id', options_for_select(@tables.map{ |t| [t.id, t.min_price] }, {:onchange=> "alert('Hello');"}) %>
        </span>
      </div>
      <br>

      <div class="test2">
        <label>Table Deposit</label>
        <input id="results" type="text" value="" readonly>
      </div>

      <div class="test2">
        <p>Group Info:</p>
        <label>Number of Males :</label>
        <span id="mels">
          <input id="nresults" type="text" >
        </span>
      </div>

      <br>

      <div class="test2">
        <%= f.label :num_of_females, "Number of Females" %>:
        <%= f.text_field :num_of_females %><br />
      </div>

      <br>
      <div class="test2">
        <%= f.label :atmosphere %> :<br />
        <input id="aresults" type="text" value="" readonly>
        <span id="yaus">
          <%= f.radio_button(:atmosphere, "Yes", value: true, class:"radio-btn", id:"radioyes", checked:( @booking.atmosphere && @booking.atmosphere == true ) ? true : false ) %> Yes <br>
        </span>

        <span id="naus">
          <%= f.radio_button(:atmosphere, "No", value: false, class:"radio-btn", checked: ( @booking.atmosphere && @booking.atmosphere==false ) ? true : false ) %> NO <br>
        </span>
      </div>
      <br>
      <br>

      <div class="test2">
        <label>Server Request: </label>
        <span id='yonce'>
          <%= select_tag 'server_id', options_for_select(@servers.map{ |s| s.name }) %>
        </span>
      </div>
      <br>

      <div class="test2">
        <label>Server Deposit</label>
        <input id="sresults" type="text" value="" readonly>
      </div>
      <br>

      <div class="test2">
        <span id ="finale">
          <a href="#" id="refresh">Reservation Total</a>
        <input id="total" type="text" value="" readonly>
        </span>
      </div>
      <!--  -->

      <br>


      <% end %>

      <div>
        <%= form_tag method: :post do %>
          <script src="https://checkout.stripe.com/checkout.js"></script>
          <button id="stripetotal" type="submit">Purchase Reservation</button>
        <% end %>

       </div>

     </div>



  <!-- end first section -->

  <!-- second section -->
  <div class="club_floorplan">

    <div class="main_bar">
      Main Bar
    </div>

    <div class="tdf_middle_side">
      <!-- <div class="tdf_middle_side"> -->

      <div class="tables_and_dancefloor">

        <div class="tdf_left_side">
          <% @tables2.where(id: [1,2,3,4,5,6,7,8]).each do |table| %>
          <div class="tdf_columnA_tables">
            <% if table.id == 1 %>
            <div id="1" class="table_1 box">
              <%=table.name%>
              <br />
              <br />

              <%= "$" + table.min_price.to_s %>
            </div>
            <% end %>

            <% if table.id == 3 %>
            <div id="3" class="table_3 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price.to_s%>
            </div>
            <% end %>

            <% if table.id == 5 %>
            <div id="5" class= "table_5 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price.to_s%>
            </div>
            <% end %>

            <% if table.id == 7 %>
            <div id="7" class="table_7 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price.to_s%>
            </div>
            <% end %>
          </div>

          <div class="tdf_columnB_tables">

            <% if table.id == 2 %>
            <div id="2" class= "table_2 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price.to_s%>
            </div>
            <% end %>

            <% if table.id == 4 %>
            <div id="4" class= "table_4 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price.to_s%>
            </div>
            <% end %>

            <% if table.id == 6 %>
            <div id="6" class= "table_6 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price.to_s%>
            </div>
            <% end %>

            <% if table.id == 8 %>
            <div id="8" class= "table_8 box">
              <%=table.name%>
              <br />
              <br />
              <%= "$" + table.min_price.to_s%>
            </div>
            <% end %>
          </div>
          <% end %>

          <!-- this div closes tdf_left_side        -->
          <div class="dance_floor_booking">
            Dance floor
          </div>
          <!-- this div closes dance_floor_booking -->


          <div class="tdf_right_side">
            <% @tables2.where(id: [9,10,11,12,13,14,15,16]).each do |table| %>

            <div class="tdf_columnC_tables">

              <% if table.id == 9 %>
              <div id="9" class="table_9 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price.to_s%>
              </div>
              <% end %>

              <% if table.id == 11 %>
              <div id="11" class="table_11 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price.to_s%>
              </div>
              <% end %>

              <% if table.id == 13 %>
              <div id="13" class="table_13 box">
                <br />

                <%=table.name%>
                <br />
                <br />
              </div>
              <% end %>

              <% if table.id == 15 %>
              <div id="15" class="table_15 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price.to_s%>
              </div>
              <% end %>

            </div>
            <!-- this div closes tdf_columnC_tables -->
            <div class="tdf_columnD_tables">

              <% if table.id == 10 %>
              <div  id="10"class= "table_10 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price.to_s%>
              </div>
              <% end %>

              <% if table.id == 12 %>
              <div id="12" class= "table_12 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price.to_s%>
              </div>
              <% end %>

              <% if table.id == 14 %>
              <div id="14" class= "table_14 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price.to_s%>
              </div>
              <% end %>

              <% if table.id == 16 %>
              <div id="16" class= "table_16 box">
                <%=table.name%>
                <br />
                <br />
                <%= "$" + table.min_price.to_s%>
              </div>
              <% end %>
            </div>
            <% end %>
            <!-- this div closes tdf_columnD_tables -->

          </div>
          <!-- this div closes tdf_right_side -->
        </div>
        <!-- this div cloes tables and dance_floor_booking -->
      </div>
      <!-- this div closes out tdf_middle_side -->

      <div class= "vip_tables_andDJbooth_booking">
        <% @tables2.where(id: [17,18,19]).each do |table| %>

        <% if table.id == 17 %>
        <div id="17" class="tl_left_vip_booking">
          <br />
          Left VIP
          <%=table.name%>
          <br />
          <%= "$" + table.min_price.to_s%>
        </div>
        <% end %>

        <% if table.id == 18 %>
        <div id="18" class="dj_booth_booking">
          <br />
          DJ Booth
          <%=table.name%>
          <br />
          <%= "$" + table.min_price.to_s%>
        </div>
        <% end %>

        <% if table.id == 19 %>
        <div id="19" class="tl_right_vip_booking">
          <br />
          Right VIP
          <%=table.name%>
          <br />
          <%= "$" + table.min_price.to_s%>
        </div>
        <% end %>
        <% end %>

</div>
</div>
</div>
</div>
</div>

<br>
<br>
    <div class="line"></div>
    <footer class="page-footer black">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">The Velvet Rope</h5>
                    <p class="grey-text text-lighten-4">You can skip the line and go straight to the bottles.</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                  <div class="networks">
                  <ul class="plain">
                    <li><a href="https://twitter.com/"><i class="icon fa fa-twitter">&nbsp;</i>Twitter</a></li>
                    <li><a href="https://www.facebook.com/"><i class="icon fa fa-facebook">&nbsp;</i>Facebook</a></li>
                    <li><a href="https://www.instagram.com/"><i class="icon fa fa-instagram">&nbsp;</i>Instagram</a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </footer>
